dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config

test.hs
listcomp_examples
my_mod_tests.hs
My_mod.hs
functype.hs
morefuncs.hs
HaskellFunctionsReference.hs
primes